---
layout: handbook-page-toc
title: Plan:Certify Backend Team
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Plan:Certify backend team

The Plan:Certify backend team works on the backend part of GitLab's
[Certify category] in the [Plan stage].

For more details about the vision for this area of the product, see the
[Plan stage] page.

[Certify category]: /handbook/product/product-categories/#certify-group
[Plan stage]: /direction/plan/

### Team members

This team is currently shared between [Plan:Portfolio Management] and
Plan:Certify. See that page for details.

[Plan:Portfolio Management]: /handbook/engineering/development/dev/plan-portfolio-management-be/

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] (Plan(?!:)|Plan:Certify)/, direct_manager_role: 'Engineering Manager, Plan:Portfolio Management & Plan:Certify') %>

### Team metrics dashboard 

<%= partial("handbook/engineering/development/dev/plan/shared_portfolio_certify_dashboard") %>

### Application performance dashboard

<%= partial("handbook/engineering/development/dev/plan/portfolio_certify_application_dashboard") %>

## OKRs

<%= partial("handbook/engineering/development/dev/plan/portfolio_certify_backend_okrs") %>

## Work

See the [Plan stage page] and the [Plan:Project Management backend team
page].

[Plan stage page]: /handbook/product/product-categories/plan/
[Plan:Project Management backend team page]: /handbook/engineering/development/dev/plan-project-management-be/

### Capacity Planning

<%= partial("handbook/engineering/development/dev/plan/capacity_planning") %>

#### Weighing bugs

<%= partial("handbook/engineering/development/dev/plan/weighing_bugs") %>

#### Continuous Estimation

<%= partial("handbook/engineering/development/dev/plan/planning_rotation") %>

#### Historical Capacity

<%= partial("handbook/engineering/development/dev/plan/historical_capacity", locals: { chart_ids: [7693825, 7693879] }) %>

### Picking something to work on

The [Plan:Portfolio Management & Certify Build Board] always shows work in the current
release, with [workflow columns] relevant to implementation. Filtering it by
~backend shows issues for backend engineers to work on.

It's OK to not take the top item if you are not confident you can solve
it, but please post in [#s_plan] if that's the case, as this probably
means the issue should be better specified.

[workflow columns]: /handbook/product-development-flow/
[Plan:Portfolio Management & Certify Build Board]: https://gitlab.com/groups/gitlab-org/-/boards/1569369?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Aplan&not[label_name][]=group%3A%3Aproject%20management
[#s_plan]: https://gitlab.slack.com/archives/s_plan

### Working on unscheduled issues

Everyone at GitLab has the freedom to manage their work as they see fit,
because [we measure results, not hours][results]. Part of this is the
opportunity to work on items that aren't scheduled as part of the
regular monthly release. This is mostly a reiteration of items elsewhere
in the handbook, and it is here to make those explicit:

1. We expect people to be [managers of one][efficiency], and we [use
   GitLab ourselves][collaboration]. If you see something that you think
   is important, you can [request for it to be scheduled], or you can
   [work on a proposal yourself][iteration], as long as you keep your
   other tasks in mind.
2. From time to time, there are events that GitLab team-members can participate
   in, like the [issue bash] and [content hack days]. Anyone is welcome
   to participate in these.
3. If you feel like you want to have some specific time set aside, but
   aren't interested in the topics of an existing event, feel free to
   label issues with "For Scheduling" and copy your manager for visibility.

When you pick something to work on, please:

1. Follow the standard workflow and assign it to yourself.
2. Share it in [#s_plan] - if not even more widely (like in #development
   or #backend).

[collaboration]: /handbook/values/#collaboration
[results]: /handbook/values/#results
[efficiency]: /handbook/values/#efficiency
[iteration]: /handbook/values/#iteration

[request for it to be scheduled]: /handbook/engineering/workflow/#requesting-something-to-be-scheduled
[issue bash]: /community/issue-bash/
[content hack days]: /handbook/marketing/corporate-marketing/content/content-hack-day/

## Requirements Management

> It is often necessary to specify behaviors for a system or application.
> Requirements Management is a process by which these behaviors would be
> captured so that there is a clearly defined scope of work.

<cite>[Category Strategy - Requirements Management]</cite>

[Category Strategy - Requirements Management]: https://about.gitlab.com/direction/plan/requirements_management/

### Learning Resources

#### Customer Requests and Discussion

- Requirements Management & Quality Management Solution
([gitlab-org/gitlab#7024])
- Requirements Management: Approve And Baseline (include E-Signature)
([gitlab-org/gitlab#8461])

[gitlab-org/gitlab#7024]: https://gitlab.com/gitlab-org/gitlab/issues/7024
[gitlab-org/gitlab#8461]: https://gitlab.com/gitlab-org/gitlab/issues/8461

#### Short Form

- [Requirements Management](https://en.wikipedia.org/w/index.php?title=Requirements_management) (Wikipedia)
- [Agile Requirements Documentation: Tips and Tricks for Modern Teams](https://www.youtube.com/watch?v=MVhMfdIGMFg) [36:52] by OCI
- [The Best Requirements Management Tools of 2019](https://thedigitalprojectmanager.com/requirements-management-tools/) by Ben Aston
- [DO-178C - Traceability](https://en.wikipedia.org/wiki/DO-178C#Traceability) (Wikipedia)

#### Long Form

- [MIT OpenCourseware: Fundamentals of Systems Engineering (2015)](https://ocw.mit.edu/courses/aeronautics-and-astronautics/16-842-fundamentals-of-systems-engineering-fall-2015/),
  especially [2. Requirements Definition](https://www.youtube.com/watch?v=J_y2I09rj_I) [1:39:51].

## Useful Links

<%= partial("handbook/engineering/development/dev/plan/useful_links", locals: { board: { name: 'Plan:Portfolio Management & Certify Build Board', url: 'https://gitlab.com/groups/gitlab-org/-/boards/1569369?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Aplan&not[label_name][]=group%3A%3Aproject%20management' }}) %>
