.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Continuous Integration is built-in to GitLab
    %p
      = succeed ' ' do
        %strong Continuous Integration
      (CI) works to integrate code provided by your team in a shared repository. Developers share the new code in a Merge (Pull) Request. The request triggers a pipeline to build, test, and validate the new code prior to merging the changes within your repository.

    %p
      The practice of
      = succeed ' ' do
        %strong Continuous Delivery
      (CD) ensures the delivery of CI validated code to your application by means of a structured deployment pipeline.

    %p
      Together,
      %a{href: "/ci-cd/"} CI and CD
      act to accelerate how quickly your team can deliver results for your customers and stakeholders. CI helps you catch and reduce bugs early in the development cycle, and CD moves verified code to your applications faster.

    %p
      CI and CD must work seamlessly together in order for your team to build fast and effectively, as well as being critical to ensuring a fully optimized development practice.
  .col-xs-1.col-md-1
%hr.divider/
