---
layout: feature
title: GitLab Continuous Integration &amp; Delivery
description: "Learn about GitLab's integrated CI/CD pipelines that help to build, test, deploy, and monitor your code."
suppress_header: true
canonical_path: "/stages-devops-lifecycle/continuous-delivery/"
extra_css:
  - gitlab-feature-landing-page.css
  - comparison-page-v2.css
  - solutions-v3.css
  - carousel.css

extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
---
.wrapper.gitlab-ee-page
  .image-title
    .color-bg
      %div
        %h1 GitLab Continuous Integration &amp; Delivery
        %h3#ci-subt GitLab has integrated CI/CD pipelines to build, test, deploy, and monitor your code
        = link_to "Try GitLab for Free", "/free-trial/", class: "btn cta-btn btn-white"

  .sub-wrapper
    .container-container.padding-vertical0.white-bg
      .container
        / ----- This creates the two panel section Image - Text - Forrester CI
        = partial('includes/solutions/cd/old/1-two-column-image-text-forrester-ci.html.haml')

    .container-container.padding-vertical0.white-bg
      .container
        / ----- This creates the full wide section over an image - GitLab CICD Advantages
        = partial('includes/solutions/cd/old/2-text-over-image-gitlab-cicd-advantages.html.haml')


    .container-container.padding-vertical0.white-bg
      .container
        / ----- This creates the full wide section of text - CD Features
        = partial('includes/solutions/cd/old/3-full-wide-text-cd-features.html.haml')

    .container-container.padding-vertical0.white-bg
      .container
        / ----- This creates the two panel section Text-Image - GitLab DevOps
        = partial('includes/solutions/cd/old/4-two-column-text-image-gitlab-devops.html.haml')

    .container-container.padding-vertical0.white-bg
      .container
        / ----- This creates the two panel section Image-Text - Fully Integrated GitLab
        = partial('includes/solutions/cd/old/5-two-column-image-text-fully-integrated-gitlab.html.haml')

    .container-container.padding-vertical0.white-bg
      .container
        / ----- This creates the two panel section Text-Image - GitLab CD Architecture
        = partial('includes/solutions/cd/old/6-two-column-text-image-architecture.html.haml')

    .container-container.padding-vertical0.white-bg
      .container
        / ----- This creates the two panel section Image-Text - GitLab Runner
        = partial('includes/solutions/cd/old/11-two-column-image-text-gitlab-runner.html.haml')

    .container-container.padding-vertical0.white-bg
      .container
        / ----- This creates the two panel section Text-Image - Git more help and info
        = partial('includes/solutions/cd/old/12-two-column-text-image-help-more-info.html.haml')
