.row
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/home/forrester-ci-wave-graphic.svg", class: "hidden-xs", alt: "Best in class continuous integration"
  .col-xs-12.col-md-6
    %h2 Cited as a Leader in the Forrester CI Wave™
    %p
      “GitLab supports development teams with a well-documented installation and configuration processes, an easy-to-follow UI, and a flexible per-seat pricing model that supports self service. GitLab’s vision is to serve enterprise-scale, integrated software development teams that want to spend more time writing code and less time maintaining their tool chain.” - Forrester CI Wave™
    = link_to "Get the report", "/resources/forrester-wave-ci-2017/", class: "btn cta-btn accent"
%hr.divider/
